// 样式的初始化

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

html, body, div, section, header, footer, aside, ul, ol, li, table, tr, th, td, button, input, textarea, select, h1, h2, h3, h4, h5, h6, em, i, strong, p, span, blockquote {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, em, th, i, strong, input, textarea, button, select {
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
}

h3 {
  font-size: 20px;
}

ul, ol {
  list-style: none;
  vertical-align: top;
}

li {
  list-style-type: none;
}

table, td, th {
  border-collapse: collapse;
  border-spacing: 0;
}

input, button, select, textarea {
  outline: none;
  background: none;
}

input:-webkit-autofill {
  background-color: #ffffff !important;
}

textarea {
  resize: none;
}

img, a img {
  border: none;
  vertical-align: top;
}

a, a:link, a:active, a:visited {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #666;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #A3D0FD !important;
}

// 去掉浏览器默认的账号密码背景色
input:-webkit-autofill , textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-text-fill-color: #ededed !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
  background-color:transparent;
  background-image: none;
   transition: background-color 50000s ease-in-out 0s; //背景色透明  生效时长  过渡效果  启用时延迟的时间
}
input {
   background-color:transparent;
}
